.site-footer__section {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--tertiary-color);
    
}

.site-footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;

}

.site-footer__column {
    flex-basis: 20%;
}

.site-footer__column-txt {
    display: flex;
    flex-direction: column;
}

.footer-media-icons__div {
    display: flex;
    flex-direction: row;
}

.site-footer__column-txt__h2 {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--secundary-color);

}

.site-footer__columnn-a {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--secundary-color);
    transition: all 0.3s ease;
}

.site-footer__columnn-a:hover {
    padding-left: 8px;
}

.footer-icons {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: var(--secundary-color);
}

.footer-icons:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

.site-footer__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    margin: 0.5rem 10rem 0.5rem 0;
    padding: 0.7rem;
    border: 1px solid var(--secundary-color);
    background-color: var(--quaternary-color);
}

.ns_email_submit{
    border: none;
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.ns_email_submit:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.ns_email_button {
    padding: 0.5rem 1.2rem;
    border: none;
    background-color: rgb(183, 181, 181);
    font-size: small;
    font-weight: 700;
    line-height: 1;
    color: var(--quaternary-color);
}

.ns_email_button:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}

.site-footer__final {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
}

.footer-1__final {
    display: flex;
    flex-direction: row;
    flex: 0 1 50%;
    justify-content: space-around;
    align-items: center;
}

.footer-1__a{
    font-size: 0.8rem;
    color: var(--secundary-color);
    text-decoration: none;
}

.footer-1__span {
    padding: 0 1rem;
    font-size: 0.8rem;
    color: var(--secundary-color);
}

.footer-2__final {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    
}

.icon-footer {
    margin: 0 3rem;
    font-size: 1.7rem;
    color: var(--secundary-color);
}
