/* header */

header {
  background-color: #E6E9EB;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* Progress status bar*/
.status-bar {
  width: 100%;
}

.progress-bar li{
  list-style-type: none;
  width: 25%;
  text-align: center;
}

.progress-bar li:before {
  
}

/* Porduct page */
.product_page {
  display: flex;
}

/* Display image */ 
.display_content {
  margin-right: 5%;
}

.image_carousel {
  /* width: 30%; */
  /* position: absolute; */
  margin-right: 5%;

}
.image_carousel img {
  width: 35px;
  height: 35px;

  
}
.product_image  {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: -10%;
}
.selected_porduct_image {

}
/* Size seleciton */

.product_details > label {
  font-weight: bold;
}

#size {
  margin-top: 2%;
  width: 20%;
  border: 2px solid black;
  border-radius: 3px;
  text-indent: 5px;
  padding: 3px;
  font-size: 13px
}

.selected_porduct_image img {
  width: 100%;
  height: 420px;
}
.product_details {
  width: 50%;
}
.product_details p {
  font-weight: bold;
}
/* Color selection */
.color_option {
  margin-bottom: 5%;
}
.color_option ul{
  display: flex;
}
.color_option img {
  width: 35px;
  height: 35px;
}
.selected_color {
  border: 2px solid rgb(255, 111, 0);
}

.error_message {
  color: red;
}
/* Buy button */
#buy_btn {
  width: 7%;
  height: 7%;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  background-color: black;
  opacity: 0.8;
  cursor: pointer;
}
#buy_btn:hover {
  color: black;
  background-color: rgb(255, 111, 0);
}
#buy_btn:active {
  color: white;
}

